.collapsible-trigger {
  display: flex;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  background-color: transparent;
  color: var(--secondary-color-4);
  outline: none;
  text-align: left;
}

.collapsible-trigger:focus-visible {
  box-shadow: inset 0 0 0 2px var(--focused-border-color);
}

.collapsible-trigger:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.collapsible-content {
  display: contents;
}

.collapsible-expand-icon {
  width: 1rem;
  height: 1rem;
  fill: none;
  stroke: var(--secondary-color-3);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
