[workspace]
resolver = "3"
members = ["primitives", "preview", "test-harness"]

[workspace.dependencies]
dioxus-primitives = { path = "primitives" }

dioxus = "0.7.0"
tracing = { version = "0.1", features = ["std"] }

[profile.release]
opt-level = "z"
debug = false
lto = true
codegen-units = 1
strip = true
incremental = false

# Outside of wasm, we need to use our wry/desktop compatible patch for the wasm-bindgen family of libraries
[patch.crates-io]
dioxus = { git = "https://github.com/ealmloff/dioxus", branch = "wasm-bindgen" }
wasm-bindgen = { git = "https://github.com/DioxusLabs/wasm-bindgen-wry" }
wasm-bindgen-futures = { git = "https://github.com/DioxusLabs/wasm-bindgen-wry" }
js-sys = { git = "https://github.com/DioxusLabs/wasm-bindgen-wry" }
web-sys = { git = "https://github.com/DioxusLabs/wasm-bindgen-wry" }
