[workspace]
resolver = "3"
members = ["primitives", "preview", "test-harness"]

[workspace.dependencies]
dioxus-primitives = { path = "primitives" }

dioxus = { git = "https://github.com/DioxusLabs/dioxus", branch = "main" }
tracing = { version = "0.1", features = ["std"] }

[profile.release]
opt-level = "z"
debug = false
lto = true
codegen-units = 1
strip = true
incremental = false
