.dx-select-trigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  color: var(--secondary-color-4);
  cursor: pointer;
  gap: 0.25rem;
  transition: background-color 100ms ease-out;
}

.dx-select-trigger span[data-placeholder="true"] {
  color: var(--secondary-color-5);
}

.dx-select[data-state="open"] .dx-select-trigger {
  pointer-events: none;
}

.dx-select[data-disabled="true"] .dx-select-trigger {
  color: var(--secondary-color-5);
  cursor: not-allowed;
  opacity: 0.5;
}

.dx-select-trigger:hover:not([data-disabled="true"]),
.dx-select-trigger:focus-visible {
  color: var(--secondary-color-1);
}

.dx-select-list {
  z-index: 1000;
  top: 100%;
  min-width: 100%;
  box-sizing: border-box;
  padding: 0.25rem;
  margin-top: 0.25rem;
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
}

.dx-select-list[data-state="open"] {
  pointer-events: auto;
}

.dx-select-option {
  justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
}

.dx-select-option[data-disabled="true"] {
  color: var(--secondary-color-5);
}

.dx-select-group-label {
  padding: 4px 12px;
  color: var(--secondary-color-5);
  font-size: 0.75rem;
}
