/* Dropdown Menu Styles */
.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu-trigger {
  padding: 8px 18px;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--dark, var(--primary-color-3))
    var(--light, var(--primary-color));
  box-shadow: inset 0 0 0 1px var(--primary-color-6);
  color: var(--secondary-color-4);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-menu-trigger:hover {
  background-color: var(--primary-color-4);
  color: var(--secondary-color-1);
}

.dropdown-menu-trigger:focus-visible {
  box-shadow: 0 0 0 2px var(--focused-border-color);
}

.dropdown-menu-content {
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  min-width: 200px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 4px;
  animation: slideIn 0.1s ease-out;
  background-color: var(--dark, var(--primary-color-5))
    var(--light, var(--primary-color));
  box-shadow: inset 0 0 0 1px var(--dark, var(--primary-color-7))
    var(--light, var(--primary-color-6));

  /* Animation properties */
  opacity: 0;
  transform: translateY(-8px) scale(0.95);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.dropdown-menu-content[data-state="closed"] {
  animation: dropdown-menu-content-animate-out 150ms ease-in forwards;
  pointer-events: none;
}

@keyframes dropdown-menu-content-animate-out {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }

  100% {
    opacity: 0;
    transform: scale(0.95) translateY(-2px);
  }
}

.dropdown-menu-content[data-state="open"] {
  animation: dropdown-menu-content-animate-in 150ms ease-out forwards;
}

@keyframes dropdown-menu-content-animate-in {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(-2px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.dropdown-menu-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: calc(0.5rem - 0.25rem);
  color: var(--secondary-color-4);
  cursor: pointer;
  font-size: 14px;
  outline: none;
  user-select: none;
}

.dropdown-menu-item[data-disabled="true"] {
  color: var(--secondary-color-5);
  cursor: not-allowed;
}

.dropdown-menu-item:hover:not([data-disabled="true"]),
.dropdown-menu-item:focus-visible {
  background: var(--dark, var(--primary-color-7))
    var(--light, var(--primary-color-4));
  color: var(--secondary-color-1);
}
