/* Item Group */
.dx-item-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.dx-item-group:has([data-size="sm"]) {
  gap: 0.625rem;
}

.dx-item-group:has([data-size="xs"]) {
  gap: 0.5rem;
}

/* Item Separator */
.dx-item-separator {
  width: 100%;
  height: 1px;
  border: none;
  margin: 0.5rem 0;
  background-color: var(--primary-color-6);
}

/* Base Item */
.dx-item {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  outline: none;
  transition:
    color 0.1s ease,
    background-color 0.1s ease,
    border-color 0.1s ease;
}

.dx-item:focus-visible {
  border-color: var(--focused-border-color);
  box-shadow: 0 0 0 3px
    color-mix(in srgb, var(--focused-border-color) 50%, transparent);
}

.dx-item a {
  transition:
    color 0.1s ease,
    background-color 0.1s ease;
}

.dx-item a:hover {
  background-color: var(--primary-color-5);
}

/* Item Variants */
.dx-item[data-style="default"] {
  border-color: transparent;
}

.dx-item[data-style="outline"] {
  border-color: var(--primary-color-6);
}

.dx-item[data-style="muted"] {
  border-color: transparent;
  background-color: var(--primary-color-5);
}

/* Item Sizes */
.dx-item[data-size="default"],
.dx-item[data-size="sm"] {
  padding: 0.625rem 0.75rem;
  gap: 0.625rem;
}

.dx-item[data-size="xs"] {
  padding: 0.5rem 0.625rem;
  gap: 0.5rem;
}

/* Item Media */
.dx-item-media {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.dx-item:has([data-slot="item-description"]) .dx-item-media {
  align-self: flex-start;
  transform: translateY(0.125rem);
}

.dx-item-media svg {
  pointer-events: none;
}

.dx-item-media[data-style="default"] {
  background-color: transparent;
}

.dx-item-media[data-style="icon"] svg {
  width: 1rem;
  height: 1rem;
}

.dx-item-media[data-style="image"] {
  overflow: hidden;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.125rem;
}

.dx-item-media[data-style="image"] img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dx-item[data-size="sm"] .dx-item-media[data-style="image"] {
  width: 2rem;
  height: 2rem;
}

.dx-item[data-size="xs"] .dx-item-media[data-style="image"] {
  width: 1.5rem;
  height: 1.5rem;
}

/* Item Content */
.dx-item-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.25rem;
}

.dx-item[data-size="xs"] .dx-item-content {
  gap: 0;
}

.dx-item-content + .dx-item-content {
  flex: none;
}

/* Item Title */
.dx-item-title {
  display: flex;
  overflow: hidden;
  width: fit-content;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
  line-height: 1.375;
  text-overflow: ellipsis;
  text-underline-offset: 4px;
  white-space: nowrap;
}

/* Item Description */
.dx-item-description {
  display: -webkit-box;
  overflow: hidden;
  margin: 0;
  -webkit-box-orient: vertical;
  color: var(--secondary-color-4);
  font-size: 0.875rem;
  font-weight: 400;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  text-align: left;
}

.dx-item[data-size="xs"] .dx-item-description {
  font-size: 0.75rem;
}

.dx-item-description a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.dx-item-description a:hover {
  color: var(--secondary-color-1);
}

/* Item Actions */
.dx-item-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Item Header & Footer */
.dx-item-header,
.dx-item-footer {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
