body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

/* Theme style variables */
:root {
  --highlight-color-main: #dd7230;
  --highlight-color-secondary: #eb5160;
  --highlight-color-tertiary: #2b7fff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --brighter-background-color: #fbfbfb;
    --dim-background-color: oklch(0.967 0.003 264.542);
    --hover-background-color: #dadada;
    --focused-background-color: #d7d7d7;
    --contrast-background-color: #0d0d0d;
    --text-color: #000;
    --dim-text-color: rgb(43, 43, 43);
    --border-color: #000;
    --dim-border-color: rgb(43, 43, 43);
    --muted-text-color: #b0b0b0;
    --focused-border-color: #2b7fff;
    --success-background-color: #ecfdf5;
    --success-text-color: #10b981;
    --warning-background-color: #fffbeb;
    --warning-text-color: #f59e0b;
    --error-background-color: #fef2f2;
    --error-text-color: #ef4444;
    --info-background-color: #e0f2fe;
    --info-text-color: #0284c7;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: red;
    --brighter-background-color: #0e0e0e;
    --dim-background-color: #141313;
    --hover-background-color: #292929;
    --focused-background-color: #2c2b2b;
    --contrast-background-color: #e6e6e6;
    --text-color: #fff;
    --dim-text-color: rgb(220, 220, 220);
    --border-color: #fff;
    --dim-border-color: rgb(43, 43, 43);
    --muted-text-color: #b0b0b0;
    --focused-border-color: #2b7fff;
    --success-background-color: #02271c;
    --success-text-color: #b6fae3;
    --warning-background-color: #342203;
    --warning-text-color: #feeac7;
    --error-background-color: #360e0e;
    --error-text-color: #e0baba;
    --info-background-color: #0c1f2b;
    --info-text-color: #b3d7e6;
  }
}

@media (prefers-color-scheme: light) {
  .code-block-dark {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .code-block-light {
    display: none;
  }
}

body {
  background-color: var(--background-color);
}

/* Code block styles */
.code-block {
  font-family: "Courier New", Courier, monospace;
  border-radius: 4px;
  overflow: scroll;
  width: 100%;
  height: 100%;
  max-height: 80vh;
  box-sizing: border-box;
}

.code-block[data-collapsed="true"] {
  height: 10em;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 100%
  );
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: none;
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copy-button:hover {
  color: var(--highlight-color-tertiary);
}

.copy-button[data-copied="true"] {
  color: var(--success-text-color);
}

/* Demo frame styles */
.component-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.component-preview-separator {
  width: 100%;
  height: 1px;
  background-color: var(--dim-border-color);
}

.component-preview-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dim-background-color);
  border: 1px solid var(--dim-border-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 20px 0;
  width: 75vw;
}

.component-preview-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 25vh;
  max-height: 100%;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  background-color: var(--dim-background-color);
  padding: 20px;
  box-sizing: border-box;
}

/* component info styles */
.component-title {
  font-size: 2em;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: capitalize;
}

.component-description {
  font-size: 1em;
  margin: 5vw;
}

.component-code {
  width: 100%;
}

/* Masonry styles */
.masonry-with-columns {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 1rem;
}
.masonry-with-columns .masonry-preview-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  max-width: calc(100vw - 2rem);
  margin: 0 1rem 1rem 0;
  padding: 3rem;
  flex: 1 0 auto;
  border-radius: 0.5rem;
  background-color: var(--dim-background-color);
  border: 1px solid var(--dim-border-color);
  box-sizing: border-box;
}
