/* Theme style variables */
:root {
  --highlight-color-main: #dd7230;
  --highlight-color-secondary: #eb5160;
  --highlight-color-tertiary: #2b7fff;
}

html[data-theme="dark"] {
  --dark: initial;
  --light: ;
}

html[data-theme="light"] {
  --dark: ;
  --light: initial;
}

.dark-mode-only {
  display: var(--dark, initial) var(--light, none);
}

.light-mode-only {
  display: var(--dark, none) var(--light, initial);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding: 0.5rem 1rem;
  top: 0;
  z-index: 1000;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--dim-border-color);
}

.navbar-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 0;
}

.navbar-link:hover {
  color: var(--dim-text-color);
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-brand {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-color);
}

/* Code block styles */
.code-block {
  font-family: "Courier New", Courier, monospace;
  border-radius: 0.5rem;
  overflow: scroll;
  width: 100%;
  height: 100%;
  max-height: 80vh;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0;
}

.code-block[data-collapsed="true"] {
  height: 10em;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to bottom,
    rgb(0 0 0 / 100%) 0%,
    rgb(0 0 0 / 100%) 60%,
    rgb(0 0 0 / 0%) 100%
  );
  overflow: hidden;
  user-select: none;
  user-select: none;
}

.dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

.copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: none;
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.copy-button:hover {
  color: var(--highlight-color-tertiary);
}

.copy-button[data-copied="true"] {
  color: var(--success-text-color);
}

/* Demo frame styles */
.component-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.component-preview-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 75vw;
}

.component-preview-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 25vh;
  max-height: 100%;
  border-radius: 0.5em;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid var(--dim-border-color);
  background-color: var(--muted-background-color);
}

/* component info styles */
.component-title {
  font-size: 2em;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: capitalize;
}

.component-description {
  font-size: 1em;
  margin: 5vw;
}

.component-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 25vh;
  max-height: 100%;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  padding-top: 2rem;
  box-sizing: border-box;
}

/* Masonry styles */
.masonry-with-columns {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 1rem;
}

.masonry-with-columns .masonry-preview-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 10rem;
  max-width: calc(100vw - 2rem);
  margin: 0 1rem 1rem 0;
  padding: 3rem;
  flex: 1 0 auto;
  border-radius: 0.5rem;
  border: 1px solid var(--dim-border-color);
  background-color: var(--muted-background-color);
  box-sizing: border-box;
}

.masonry-with-columns .masonry-component-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
