.progress {
    position: relative;
    overflow: hidden;
    background: var(--focused-background-color);
    border-radius: 9999px;
    width: 200px;
    height: .5rem;
    box-sizing: border-box;
}

.progress[data-state='indeterminate'] .progress-indicator {
    width: 50%;
    animation: indeterminate 1s infinite linear;
}

.progress-indicator {
    height: 100%;
    background-color: var(--bright-text-color);
    transition: width 250ms ease;
    width: var(--progress-value, 0%);
}

@keyframes indeterminate {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(200%);
    }
}
