.progress {
    position: relative;
    overflow: hidden;
    background: var(--brighter-background-color);
    border-radius: 9999px;
    width: 300px;
    height: 20px;
    border: 2px solid var(--dim-border-color);
    box-sizing: border-box;
}

.progress[data-state='indeterminate'] .progress-indicator {
    width: 50%;
    animation: indeterminate 1s infinite linear;
}

.progress-indicator {
    height: 100%;
    background-color: #3b82f6;
    transition: width 250ms ease;
    width: var(--progress-value, 0%);
    /* Use CSS variable for width */
}

@keyframes indeterminate {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(200%);
    }
}

.progress-button {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    outline: none;
    font-size: 14px;
    background-color: var(--brighter-background-color);
    border: 1px solid var(--dim-border-color);
    color: var(--text-color);
}

.progress-button:hover {
    background: var(--hover-background-color);
}

.progress-button:focus {
    background: var(--focused-background-color);
}
