.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tabs-list {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: .25rem;
    width: fit-content;
    padding: .25rem;
    border: none;
    border-radius: .5rem;
    background: var(--dim-background-color);
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    .tabs-list {
        background: var(--focused-background-color);
    }
}

.tabs-trigger {
    padding: 4px 8px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--muted-text-color);
    border-radius: calc(.5rem - .25rem);
}

.tabs-trigger[data-state="active"] {
    color: var(--bright-text-color);
    background-color: var(--background-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
}

@media (prefers-color-scheme: dark) {
    .tabs-trigger[data-state="active"] {
        box-shadow: inset 0 0 0 1px var(--hover-border-color);
        background-color: var(--dim-border-color);
    }
}

.tabs-trigger[data-disabled="true"] {
    color: var(--muted-text-color);
    cursor: not-allowed;
}

.tabs-trigger:hover:not([data-disabled="true"]),
.tabs-trigger:focus-visible {
    color: var(--dim-text-color);
}

.tabs-content {
    width: 100%;
    background: var(--background-color);
    border-radius: .5rem;
    padding: .25rem;
    border: 1px solid var(--dim-border-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    .tabs-content {
        border: none;
        background: var(--dim-background-color);
        box-shadow: inset 0 0 0 1px var(--hover-border-color);
    }
}

.tabs-content[data-state="inactive"] {
    display: none;
}
