.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tabs-list {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: .25rem;
    width: fit-content;
    padding: .25rem;
    border: none;
    border-radius: .5rem;
    background: var(--light, var(--dim-background-color)) 
        var(--dark, var(--focused-background-color));
    box-sizing: border-box;
}

.tabs-trigger {
    padding: 4px 8px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--muted-text-color);
    border-radius: calc(.5rem - .25rem);
}

.tabs-trigger[data-state="active"] {
    color: var(--bright-text-color);
    background-color: var(--light, var(--background-color)) var(--dark, var(--dim-border-color));
    box-shadow: var(--dark, inset 0 0 0 1px var(--hover-border-color)) 
        var(--light, 0 1px 2px rgb(0 0 0 / 18%));
}

.tabs-trigger[data-disabled="true"] {
    color: var(--muted-text-color);
    cursor: not-allowed;
}

.tabs-trigger:hover:not([data-disabled="true"]),
.tabs-trigger:focus-visible {
    color: var(--dim-text-color);
}

.tabs-content {
    width: 100%;
    background: var(--light, var(--background-color)) var(--dark, var(--dim-background-color));
    border-radius: .5rem;
    padding: .25rem;
    border: 1px solid var(--light, var(--dim-border-color)) var(--dark, var(--hover-border-color));
    box-shadow: var(--light, 0 1px 2px rgb(0 0 0 / 18%)) var(--dark, none);
    box-sizing: border-box;
}

.tabs-content[data-state="inactive"] {
    display: none;
}
