.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
}

.tabs-list {
    display: flex;
    /* border-style: solid;
    border-color: var(--dim-border-color);
    border-width: 1px 0px 1px 1px; */
}

.tabs-trigger {
    all: unset;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 14px;
    color: var(--text-color);
    cursor: pointer;
    border-left: 1px solid var(--dim-border-color);
    border-bottom: 1px solid var(--dim-border-color);
    transition: background-color 0.2s;
    box-sizing: border-box;
}

.tabs-trigger:first-child {
    border-left: none;
}

.tabs-trigger:hover {
    color: var(--hover-text-color);
    background: var(--hover-background-color);
}

.tabs-trigger[data-state="active"] {
    color: var(--text-color);
    border-bottom: none;
}

.tabs-trigger:focus-visible {
    outline: 2px solid #3b82f6;
    outline-offset: -2px;
}

.tabs-trigger[data-disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed;
}

.tabs-content {
    padding: 16px;
    font-size: 14px;
}

.tabs-content[data-state="inactive"] {
    display: none;
}
