.checkbox {
    width: 1rem;
    height: 1rem;
    color: var(--text-color);
    background-color: var(--dim-background-color);
    border: none;
    box-shadow: inset 0 0 0 1px var(--hover-border-color);
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.checkbox-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox[data-state="checked"] {
    background-color: var(--contrast-background-color);
    color: var(--background-color);
    box-shadow: none;
}

.checkbox:focus-visible {
    box-shadow: 0 0 0 2px var(--focused-border-color);
}

.checkbox-check-icon {
    fill: none;
    stroke: currentcolor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    width: 1rem;
    height: 1rem;
}
