.toggle-group {
  margin: 50px 50px;
  width: fit-content;
}

.toggle-item {
  border-radius: 0px;
  outline: none;
  border: none;
  font-size: 14px;
  padding: 10px;
  min-width: 35px;
  background-color: rgb(228, 228, 228);

  transition: background-color 200ms ease, border 200ms ease;

  border-top: 1px solid rgb(94, 94, 94);
  border-bottom: 1px solid rgb(94, 94, 94);
}

.toggle-item:hover, .toggle-item:focus {
  cursor: pointer;
  background-color: rgb(57, 146, 206); 
}

.toggle-item[data-state="on"] {
  background-color: rgb(69, 175, 247);  
}

.toggle-item:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.toggle-item:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.toggle-item:first-child, .toggle-item:last-child {
  border: 1px solid rgb(94, 94, 94);
}