.dxc-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;

    >.dxc-carousel-display {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    >.dxc-carousel-btn {
        display: flex;
        align-items: center;

        &.first {
            margin-right: 40px;
        }

        &.last {
            margin-left: 40px;
        }


        >button {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 35px;
            width: 35px;

            background-color: transparent;
            color: #000000;

            border: 2px solid #000000;
            border-radius: 50%;

            padding: 0;
            margin: 0;

            >img {
                margin: auto;
                width: 15px;
                height: 15px;
            }

            &.disabled {
                border: 2px solid #c9c9c9;

                >img {
                    filter: invert(88%) sepia(0%) saturate(106%) hue-rotate(225deg) brightness(90%) contrast(98%);
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.dxc-carousel-item {
    flex-shrink: 0;
    height: 100%;
    width: 100%;

    user-select: none;
}