.dxc-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &:last-child {
        border-bottom: none;
    }

    &>* {
        flex: 1;
    }
}