.dxc-navbar {
    display: flex;
    flex-direction: row;

    .dxc-navitem {
        min-height: 60px;
    }
}

.dxc-navbar-vertical {
    display: none;
    flex-direction: column;

    &.open {
        @media (max-width: 425px) {
            display: flex;
        }
    }

    .dxc-navitem {
        margin-bottom: 10px;
    }

    >.dxc-nav-align-left>.dxc-navitem:first-child {
        display: none;
    }

    >.dxc-nav-align-left,
    >.dxc-nav-align-center,
    >.dxc-nav-align-right {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: 0;
    }
}


.dxc-navitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;

    &.dxc-nav-hamburger {
        height: 30px;
        width: 30px;
        margin-left: auto;
        display: none;

        &:hover {
            cursor: pointer;
        }
    }
}

.dxc-nav-align-left {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.dxc-nav-align-center {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.dxc-nav-align-right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

@media (max-width: 425px) {

    .dxc-navbar {
        .dxc-navitem:not(:first-child) {
            display: none;
        }
    }


    .dxc-navbar>.dxc-nav-align-center,
    .dxc-navbar>.dxc-nav-align-right {
        display: none;
    }

    .dxc-navbar>.dxc-navitem.dxc-nav-hamburger {
        display: flex;
    }
}