.badge-example {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.badge-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.badge-label {
  color: var(--secondary-color-4);
  font-size: 0.875rem;
}

.badge {
  position: absolute;
  display: inline-flex;
  min-width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--badge-color);
  box-shadow: 0 0 0 1px var(--primary-color-2);
  font-size: 12px;
  transform: translate(-50%, -50%);
}

.badge[padding="true"] {
  padding: 0 8px;
}

.badge[dot="true"] {
  min-width: 8px;
  height: 8px;
}