.dxc-accordian {
    display: flex;
    flex-direction: column;
}


.dxc-accordian-button {
    width: 100%;
    display: flex;
    flex-direction: row;

    &.active {
        >img {
            transform: rotate(180deg);
        }
    }
}

.dxc-accordian-text {
    overflow-y: hidden;
}