.dnd-list {
  width: 100%;
}

.dnd-list-ul {
  padding-left: 0;
}

.dnd-list-item {
  position: relative;
  z-index: 0;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  color: var(--secondary-color-4);
  cursor: grab;
  list-style: none;
  transition: transform;
  user-select: none;
}

.dnd-list-item:hover {
  border-color: var(--focused-border-color);
}

.dnd-list-item[is-grabbing="true"] {
  cursor: grabbing;
}

.dnd-list-item[is-grabbing="true"]:hover {
  border-color: transparent;
}

.item-icon-div {
  display: flex;
  width: 24px;
  align-items: center;
  margin-right: 16px;
  color: var(--secondary-color-4);
}

.item-body-div {
  flex-grow: 1;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.remove-button {
  display: flex;
  overflow: visible;
  width: 24px;
  align-items: center;
  padding: 0;
  border-style: none;
  margin-left: 16px;
  background-color: transparent;
  cursor: pointer;
}

.space-item {
  height: 24px;
  flex-grow: 1;
}