.toolbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    box-shadow: inset 0 0 0 1px var(--dim-border-color);
    gap: .25rem;
    padding: .25rem;
    border-radius: .5rem;
}

/* .toolbar button {
    padding: 8px 12px;
    border: 1px solid var(--dim-border-color);
    border-radius: 4px;
    color: var(--text-color);
    background-color: var(--background-color);
    cursor: pointer;
    font-size: 14px;
} */

.toolbar button {
    padding: 8px 12px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--text-color);
    border-radius: calc(.5rem - .25rem);
}

.toolbar button:hover:not([disabled]),
.toolbar button:focus-visible {
    color: var(--bright-text-color);
    background: var(--hover-background-color);
}
@media (prefers-color-scheme: dark) {
    .toolbar button:hover:not([disabled]),
    .toolbar button:focus-visible {
        background: var(--hover-border-color);
    }
}


.toolbar button:disabled {
    color: var(--muted-text-color);
    cursor: not-allowed;
}

.toolbar-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.toolbar-separator {
    width: 1px;
    height: 24px;
    background-color: var(--dim-border-color);
    margin: 0 5px;
}

.toolbar-content p {
    margin: 0;
    padding: 0;
}
