.accordion-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: none;
  outline: none;
  width: 100%;
  color: var(--text-color);
  background-color: transparent;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  box-sizing: border-box;
}

.accordion-trigger:focus-visible {
  box-shadow: inset 0 0 0 2px var(--focused-border-color);
  border: none;
}

.accordion-trigger:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.accordion-content {
  display: grid;
}

.accordion-content[data-open="false"] {
	animation: accordionSlideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.accordion-content[data-open="true"] {
  animation: accordionSlideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes accordionSlideDown {
	from {
    height: var(--collapsible-content-width);
	}
	to {
    height: 0px;
	}
}

@keyframes accordionSlideUp {
	from {
    height: 0px;
	}
	to {
    height: var(--collapsible-content-width);
	}
}

.accordion-item {
  margin-top: 1px;
  border-bottom: 1px solid var(--dim-border-color);
  box-sizing: border-box;
  overflow: hidden;
}

.accordion-item:first-child {
  margin-top: 0px;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-expand-icon {
  fill: none;
  stroke: var(--text-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  width: 20px;
  height: 20px;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion-item[data-open="true"] .accordion-expand-icon {
  rotate: 180deg;
}
