.accordion {
  width: 500px;
  background-color: var(--brighter-background-color);
}

.accordion-trigger {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--dim-border-color);
  width: 100%;
  color: var(--text-color);
  background-color: var(--brighter-background-color);
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.accordion-trigger:focus {
  border: 1px solid maroon;
}

.accordion-trigger:hover {
  cursor: pointer;
}

.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}

.accordion-item[data-open="true"] .accordion-content {
  grid-template-rows: 1fr;
}

.accordion-content-inner {
  overflow: hidden;
}

.accordion-content-inner p {
  margin: 0;
  padding: 10px;
}