<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DioxusUIdioxus | ⛺</title>
  <link rel="preload" as="script" href="/components/pr-preview/pr-239/assets/preview-dxhe9565ab4a633ad.js" crossorigin></head>
  <body>
    <div id="main"><script>window.hydrate_queue=[];window.dx_hydrate=(id,data,debug_types,debug_locations)=>{let decoded=atob(data),bytes=Uint8Array.from(decoded,(c)=>c.charCodeAt(0));if(window.hydration_callback)window.hydration_callback(id,bytes,debug_types,debug_locations);else window.hydrate_queue.push([id,bytes,debug_types,debug_locations])};
</script><div data-node-hydration="0">Block component not found</div><script>window.initial_dioxus_hydration_data="g4EY9pgaGHgYGBgvGGMYbxhtGHAYbxhuGGUYbhh0GC8YYhhsGG8YYxhrGC8YPxhuGGEYbRhlGD0YJvY=";</script></div>
  <script type="module" async src="/components/pr-preview/pr-239/assets/preview-dxhe9565ab4a633ad.js"></script>
            </body>
</html>
