.radio-group {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.radio-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .75rem;
  border: none;
  padding: 0;
  font-size: 14px;
  color: var(--text-color);
  background-color: transparent;

  &:before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px var(--dim-border-color);
    background: var(--background-color);
    border-radius: 1.5rem;
    cursor: pointer;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus-visible:before {
    box-shadow: 0 0 0 2px var(--focused-border-color);
  }

  &[data-state="checked"]:before {
    border: 0.25rem solid var(--background-color);
    background: var(--text-color);
  }

  &[data-disabled="true"]:before {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@media (prefers-color-scheme: dark) {
  .radio-item {
    &:before {
      background: var(--dim-background-color);
      box-shadow: 0 0 0 1px var(--hover-border-color);
    }
    &[data-state="checked"]:before {
      border: 0.25rem solid var(--dim-background-color);
    }
  }
}
