.radio-group {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.radio-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .75rem;
  border: none;
  padding: 0;
  font-size: 14px;
  color: var(--text-color);
  background-color: transparent;

  &:before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px var(--light, var(--dim-border-color)) 
      var(--dark, var(--hover-border-color));
    background: var(--light, var(--background-color)) var(--dark, var(--dim-background-color));
    border-radius: 1.5rem;
    cursor: pointer;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus-visible:before {
    box-shadow: 0 0 0 2px var(--focused-border-color);
  }

  &[data-state="checked"]:before {
    border: 0.25rem solid var(--light, var(--background-color)) var(--dark, var(--dim-background-color));
    background: var(--text-color);
  }

  &[data-disabled="true"]:before {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
