.menubar {
    display: flex;
    gap: .25rem;
    padding: .25rem;
    border: none;
    box-shadow: inset 0 0 0 1px var(--dim-border-color);
    border-radius: .5rem;
    background: var(--background-color);
    box-sizing: border-box;
}

.menubar-menu {
    position: relative;
}

.menubar-trigger {
    padding: 8px 12px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--text-color);
    border-radius: calc(.5rem - .25rem);
}

.menubar-menu[data-state="open"] .menubar-trigger {
    color: var(--bright-text-color);
    background-color: var(--hover-border-color);
}

.menubar-trigger[data-disabled="true"] {
    color: var(--muted-text-color);
    cursor: not-allowed;
}

.menubar-trigger:hover:not([data-disabled="true"]),
.menubar-trigger:focus-visible {
    color: var(--bright-text-color);
    background: var(--hover-border-color);
}

.menubar-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    margin-left: -.25rem;
    margin-top: .5rem;
    background: var(--focused-background-color);
    border-radius: .5rem;
    padding: .25rem;
    box-shadow: inset 0 0 0 1px var(--hover-border-color);
    animation: menubarSlideIn 0.1s ease-out;
}

.menubar-menu[data-state="open"] .menubar-content {
    display: block;
}

.menubar-item {
    display: block;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: calc(.5rem - .25rem);
}

.menubar-item[data-disabled="true"] {
    color: var(--muted-text-color);
    cursor: not-allowed;
}

.menubar-item:hover:not([data-disabled="true"]),
.menubar-item:focus-visible {
    color: var(--bright-text-color);
    background: var(--hover-border-color);
}

[data-disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed;
}

@keyframes menubarSlideIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
