.menubar {
  display: flex;
  box-sizing: border-box;
  padding: 0.25rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--muted-background-color);
  box-shadow: inset 0 0 0 1px var(--dim-border-color);
  gap: 0.25rem;
}

.menubar-menu {
  position: relative;
}

.menubar-trigger {
  padding: 8px 12px;
  border: none;
  border-radius: calc(0.5rem - 0.25rem);
  background: none;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 100ms ease-out;
}

.menubar-menu[data-state="open"] .menubar-trigger {
  background-color: var(--light, var(--hover-background-color))
    var(--dark, var(--hover-border-color));
  color: var(--bright-text-color);
}

.menubar-trigger[data-disabled="true"] {
  color: var(--muted-text-color);
  cursor: not-allowed;
}

.menubar-trigger:hover:not([data-disabled="true"]),
.menubar-trigger:focus-visible {
  background: var(--light, var(--hover-background-color))
    var(--dark, var(--hover-border-color));
  color: var(--bright-text-color);
  outline: none;
}

.menubar-content {
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  min-width: 200px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  background: var(--light, var(--background-color))
    var(--dark, var(--focused-background-color));
  box-shadow: inset 0 0 0 1px var(--light, var(--dim-border-color))
    var(--dark, var(--hover-border-color));
  transform-origin: top;
  will-change: transform, opacity;
}

.menubar-menu:first-child .menubar-content {
  margin-left: -0.25rem;
}

.menubar-content[data-state="closed"] {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-4px) scale(0.98);
  transition: opacity 150ms ease-in, transform 150ms ease-in;
}

.menubar-content[data-state="open"] {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 200ms ease-out,
    transform 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

.menubar-item {
  display: block;
  padding: 8px 12px;
  border-radius: calc(0.5rem - 0.25rem);
  cursor: pointer;
  font-size: 14px;
}

.menubar-item[data-disabled="true"] {
  color: var(--muted-text-color);
  cursor: not-allowed;
}

.menubar-item:hover:not([data-disabled="true"]),
.menubar-item:focus-visible {
  background: var(--light, var(--hover-background-color))
    var(--dark, var(--hover-border-color));
  color: var(--bright-text-color);
  outline: none;
}

[data-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}
