.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.75rem;
  z-index: 9999;
  max-width: 350px;
}

.toast {
  width: 18rem;
  height: 4rem;
  margin-top: -4rem;
  overflow: hidden;
  transition: transform 0.2s ease, margin-top 0.2s ease, opacity 0.2s ease;
  transform: scale(
    calc(100% - var(--toast-index) * 5%),
    calc(100% - var(--toast-index) * 2%)
  );
  z-index: calc(var(--toast-count) - var(--toast-index));
  opacity: calc(1 - var(--toast-hidden));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  border: 1px solid var(--light, var(--dim-border-color))
    var(--dark, var(--hover-border-color));
  filter: var(--light, none)
    var(
      --dark,
      brightness(calc(0.5 + 0.5 * (1 - ((var(--toast-index) + 1) / 4))))
    );
  box-sizing: border-box;

  --toast-hidden: calc(min(max(0, var(--toast-index) - 2), 1));
}

.toast-container:not(:hover, :focus-within)
  .toast[data-toast-even]:not([data-top]) {
  animation: slide-up-even 0.2s ease-out;
}

.toast-container:not(:hover, :focus-within)
  .toast[data-toast-odd]:not([data-top]) {
  animation: slide-up-odd 0.2s ease-out;
}

@keyframes slide-up-even {
  from {
    transform: translateY(0.5rem)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }

  to {
    transform: translateY(0)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }
}

@keyframes slide-up-odd {
  from {
    transform: translateY(0.5rem)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }

  to {
    transform: translateY(0)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }
}

.toast[data-top] {
  animation: slide-in 0.2s ease-out;
}

.toast-container:hover .toast[data-top],
.toast-container:focus-within .toast[data-top] {
  animation: slide-in 0 ease-out;
}

@keyframes slide-in {
  from {
    transform: translateY(100%)
      scale(
        calc(110% - var(--toast-index) * 5%),
        calc(110% - var(--toast-index) * 2%)
      );
    opacity: 0;
  }

  to {
    transform: translateY(0)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
    opacity: 1;
  }
}

.toast-container:hover .toast,
.toast-container:focus-within .toast {
  margin-top: var(--toast-padding);
  transform: scale(calc(100%));
  opacity: 1;
  filter: brightness(1);
}

.toast[data-type="success"] {
  background-color: var(--success-background-color);
  color: var(--success-text-color);
}

.toast[data-type="error"] {
  background-color: var(--error-background-color);
  color: var(--error-text-color);
}

.toast[data-type="warning"] {
  background-color: var(--warning-background-color);
  color: var(--warning-text-color);
}

.toast[data-type="info"] {
  background-color: var(--info-background-color);
  color: var(--info-text-color);
}

.toast-content {
  flex: 1;
  margin-right: 8px;
  transition: filter 0.2s ease;
}

.toast-title {
  font-weight: 600;
  margin-bottom: 4px;
  color: var(--text-color);
}

.toast-description {
  font-size: 0.875rem;
  color: var(--dim-text-color);
}

.toast-close {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: var(--dim-text-color);
  padding: 0;
  margin: 0;
  line-height: 1;
  align-self: flex-start;
}

.toast-close:hover {
  color: var(--bright-text-color);
}

.toast-trigger {
  background-color: var(--light, var(--background-color))
    var(--dark, var(--dim-background-color));
  color: var(--text-color);
  border: 1px solid var(--dim-border-color);
  border-radius: 0.5rem;
  padding: 8px 18px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.toast-trigger:hover {
  background-color: var(--hover-background-color);
}

.toast-trigger:focus-visible {
  box-shadow: 0 0 0 2px var(--focused-border-color);
}
