.separator {
  background-color: var(--light, var(--primary-color-6)) var(--dark, var(--primary-color-7));
}

.separator[data-orientation="horizontal"] {
  width: 100%;
  height: 1px;
}

.separator[data-orientation="vertical"] {
  width: 1px;
  height: 100%;
}
