name: Playwright Tests

on:
  push:
    branches:
      - main
    paths:
      - /**
      - preview/**/*.rs
      - preview/**/Cargo.toml
      - primitives/**/*.rs
      - primitives/**/Cargo.toml
      - .github/**
      - Cargo.toml

  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
    paths:
      - /**
      - preview/**/*.rs
      - preview/**/Cargo.toml
      - primitives/**/*.rs
      - primitives/**/Cargo.toml
      - .github/**
      - Cargo.toml

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    if: github.event.pull_request.draft == false
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    # Do our best to cache the toolchain and node install steps
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install Rust
      uses: dtolnay/rust-toolchain@1.86.0
      with:
        targets: x86_64-unknown-linux-gnu,wasm32-unknown-unknown
    - uses: Swatinem/rust-cache@v2
      with:
        cache-all-crates: "true"
        cache-on-failure: "true"
    - name: Clear base path
      run: rm -f preview/Dioxus.toml
    - name: Install dx
      run: cargo install dioxus-cli@0.7.0-alpha.1
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
