.context-menu-content {
  min-width: 220px;
  background: var(--dark, var(--focused-background-color))
    var(--light, var(--background-color));
  border-radius: 0.5rem;
  padding: 0.25rem;
  box-shadow: inset 0 0 0 1px var(--dark, var(--hover-border-color))
    var(--light, var(--dim-border-color));
  z-index: 1000;
  transform-origin: var(--radix-context-menu-content-transform-origin);
  will-change: transform, opacity;
}

.context-menu-content[data-state="closed"] {
  pointer-events: none;
  opacity: 0;
  transform: scale(0.95) translateY(-2px);
  transition: opacity 150ms ease-in, transform 150ms ease-in;
}

.context-menu-content[data-state="open"] {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 200ms ease-out,
    transform 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

.context-menu-item {
  padding: 8px 12px;
  border-radius: calc(0.5rem - 0.25rem);
  cursor: pointer;
  user-select: none;
  outline: none;
  font-size: 14px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  transition: background-color 100ms ease-out;
}

.context-menu-item[data-disabled="true"] {
  color: var(--muted-text-color);
  cursor: not-allowed;
}

.context-menu-item:hover:not([data-disabled="true"]),
.context-menu-item:focus-visible {
  color: var(--light, var(--bright-text-color)) 
    var(--dark, var(--text-color));
  background: var(--light, var(--hover-background-color))
    var(--dark, var(--hover-border-color));
}
